<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896822704980-ufc8i1hrj7hhbr9ies5ul4t30b18f6b9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896822704980-ufc8i1hrj7hhbr9ies5ul4t30b18f6b9</string>
	<key>API_KEY</key>
	<string>AIzaSyAcnFc_IeJMJ-nC3BWgjrVAothCMJCHq5A</string>
	<key>GCM_SENDER_ID</key>
	<string>896822704980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.figloans</string>
	<key>PROJECT_ID</key>
	<string>fig-loans-c0ff5</string>
	<key>STORAGE_BUCKET</key>
	<string>fig-loans-c0ff5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:896822704980:ios:628b61fb3f33f4255826c1</string>
	<key>DATABASE_URL</key>
	<string>https://fig-loans-c0ff5.firebaseio.com</string>
</dict>
</plist>
